@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h2>
        Welcome to Our Bakery
    </h2>
    <p>
        We're passionate about making the most delectable baked goods that not only taste amazing, but also look beautiful. From flaky croissants to melt-in-your-mouth cinnamon rolls, we've got something to satisfy every sweet tooth.
        <br />
        All of our baked goods are made with only the freshest ingredients, so you can trust that you're getting the best taste and quality with every bite. Whether you're looking for a sweet treat for yourself or a thoughtful gift for a friend, we've got you covered.
        <br /><br />
        In addition to our delicious baked goods, we also offer custom cakes for all occasions. Whether it's a birthday, wedding, or any other special event, we can help you create the perfect cake to make your day even sweeter.
        <br />
        So why wait? Order now and treat yourself to one of our delicious baked goods : p
    </p>
    <img src="images/cake.png" alt="recipe" width="300" height="200">

</div>
